.reports-form__footer {
  margin-top: 6px;
}

.reports-form__footer__first-block {
  display: flex;
}

.reports-form__footer__first-block__element {
  width: 50%;
  height: 70px;
  display: flex;
  border-radius: 4px;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
}

.reports-form__footer__first-block__element:first-child {
  min-width: 470px;
}

.reports-form__footer__first-block__element span {
  margin-left: 14px;
}

.reports-form__footer__first-block__element:not(:first-child) {
  margin-left: 6px;
}

.first-block__element__worker {
  width: 310px;
  height: 40px;
  border: 1px solid rgba(83, 92, 105, 0.25);
  margin-right: 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.first-block__element__add {
  min-width: 80px;
}

.add-button {
  width: 169px;
  height: 40px;
  display: flex;
  color: #fff;
  align-items: center;
  font-size: 14px;
  margin-right: 15px;
  font-family: "Open Sans Regular";
  justify-content: center;
  cursor: pointer;
  background-color: #157DCD;
}

.add-button img{
  margin-left: 12px;
}

.blue-button {
  width: 155px;
  height: 30px;
  color: #fff;
  display: flex;
  margin-left: 5px;
  padding: 0 0 0 10px ;
  font-size: 14px;
  fill: #fff;
  fill-opacity: 1;
  align-items: center;
  font-family: "Open Sans Regular";
  background-color: #157DCD;
}

.blue-button span {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.blue-button span img{
  margin-left: 14px;
}

.clear-button {
  margin-right: 4px;
  font-family: "Open Sans Regular";
  font-size: 14px;
}

.clear-button span {
  display: flex;
  align-items: center;
}

.clear-button span img{
  margin-right: 12px;
}

.reports-form__footer__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin-top: 6px;
  padding: 15px 14px;
}

.reports-form__footer__submit__buttons {
  display: flex;
  align-items: center;
}

.add-report-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  gap: 6px;
  width: 180px;
  height: 40px;
  background: #00B894;
  border: none;
  border-radius: 1px;
  transition: 0.3s;
  font-family: "Open Sans Regular";
  cursor: pointer;
}

.cancel-report-btn {
  margin-left: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-report-btn img, .cancel-report-btn img {
  margin-right: 6px;
}

.reports-form__footer__save__buttons {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.reports-form__footer__save__buttons input {
  width: 16px;
  height: 16px;
}
