@import "../../../reusable-blocks/menu/menu.css";
@import "../../../reusable-blocks/menu/__main.css";
@import "../../../reusable-blocks/menu/__header.css";
@import "../../../reusable-blocks/menu/__body.css";
@import "../../../reusable-blocks/menu/__footer.css";
@import "../../../reusable-blocks/header/header.css";
@import "../../../reusable-blocks/header/__main.css";
@import "../../blocks/content/body/body.css";
@import "../../blocks/content/body/__reports-title.css";
@import "../../blocks/content/body/__notification__districts.css";
@import "../../blocks/content/body/__notification__notices.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Обнуляющие теги
*/

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans Medium";
  src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

body {
  background-color: #eef2f4;
  margin: 0;
  font-family: "Open Sans Regular";
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
}

.user__notification, .user__info__arrow, .sort__block__element, .menu__body__list a,
.menu__footer__toggle a, .reports-title__my-reports__btn button, .variables, .reports-footer__submit__button button{
  cursor: pointer;
}

.warning {
  background-color: #fef0cb;
}

.expired {
  background-color: #fecbcb;
}

.checked {
  background-color: #eaf9c4;
}

.finished {
  background-color: #d8fecb;
}

.reports-footer {
  width: 99.5%;
  height: 65px;
  margin-top: 6px;
  padding: 15px 13px;
  display: flex;
  align-items: center;
}

.reports-footer__action {
  position: relative;
  width: 350px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border: 1px solid #535c6940;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.reports-footer__action img {
  padding-right: 6.5px;
}

.variables {
  padding: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.variables:hover {
  transition: 0.3s;
  background-color: rgb(236, 235, 235);
}

.reports-footer__action__sort {
  position: absolute;
  opacity: 1;
  z-index: 2;
  width: 233px;
  text-align: center;
  line-height: 30px;
  right: 5px;
  left: 0px;
  top: -160px;
  transition: 0.3s;
}

.reports-footer__submit__button button{
  width: 120px;
  height: 40px;
  border: none;
  background-color: #157DCD;
  border-radius: 2px;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  margin-left: 16px;
  transition: 0.3s;
}

.reports-footer__count {
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-right: 36px;
}

.none {
  opacity: 0;
  display: none;
  transition: 0.3s;
}

@media screen and (min-width: 2560px) and (max-width: 2732px) {

}

@media screen and (max-width: 2560px) and (min-width: 2048px) {

}

@media screen and (max-width: 2048px) and (min-width: 1920px) {

}

@media screen and (max-width: 1920px) and (min-width: 1280px) {
  .reports-list__title__body {
    width: 82%;
  }

  .reports-list__title__third-element {
    padding-right: 5%;
    min-width: 110px;
  }

  .reports-list__title__second-element {
    padding-right: 3%;
    min-width: 100px;
  }
}

@media screen and (max-width: 1550px) {
  .reports__body__element {
    padding-left: 180px;
  }

  .reports-list__title__third-element {
    padding-left: 5%;
    min-width: 110px;
  }

  .reports-list__title__second-element {
    padding-left: 3%;
    min-width: 100px;
  }
}

/*@media screen and (max-width: 1350px) {*/
/*  .reports__body__element {*/
/*    padding-left: 150px;*/
/*  }*/

/*  .reports-list__title__third-element {*/
/*    padding-left: 5%;*/
/*    min-width: 110px;*/
/*  }*/

/*  .reports-list__title__second-element {*/
/*    padding-left: 10%;*/
/*    min-width: 100px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1280px) {*/
/*  .reports__body__element {*/
/*    padding-left: 100px;*/
/*  }*/
/*  .reports-list__title__third-element {*/
/*    padding-right: 8%;*/
/*    min-width: 110px;*/
/*  }*/

/*  .reports-list__title__second-element {*/
/*    padding-left: 0;*/
/*    min-width: 100px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1050px) {*/
/*  .reports-list__title__third-element {*/
/*    min-width: 110px;*/
/*  }*/
/*  .reports-list__title__second-element {*/
/*    padding-left: 0;*/
/*    min-width: 100px;*/
/*  }*/
/*}*/
