@import "../../../reusable-blocks/menu/menu.css";
@import "../../../reusable-blocks/menu/__main.css";
@import "../../../reusable-blocks/menu/__header.css";
@import "../../../reusable-blocks/menu/__body.css";
@import "../../../reusable-blocks/menu/__footer.css";
@import "../../../reusable-blocks/header/header.css";
@import "../../../reusable-blocks/header/__main.css";
@import "../../blocks/content/content.css";
@import "../../blocks/content/body/body.css";
@import "../../blocks/content/body/reports-title.css";
@import "../../blocks/content/body/reports-form.css";
@import "../../blocks/content/body/__body.css";
@import "../../blocks/content/body/__footer.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Обнуляющие теги
*/

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans Medium";
  src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

body {
  background-color: #eef2f4;
  margin: 0;
  font-family: "Open Sans Regular";
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
}

.user__notification, .user__info__arrow, .sort__block__element, .menu__body__list a,
.menu__footer__toggle a, .reports-title__my-reports__btn button, .variables, .reports-footer__submit__button button{
  cursor: pointer;
}

.none {
  display: none;
}

.reports-form__footer__first-block__element:first-child {
  min-width: 415px;
}

@media screen and (max-width: 2732px) {

}

@media screen and (max-width: 2560px) {

}

@media screen and (max-width: 2048px) {

}

@media screen and (min-width: 1920px) {

  .menu {
    height: 100vh;
    width: 460px;
  }

  .menu__body div {
    padding-left: 40px;
    font-size: 22px;
  }

  .menu__body img {
    width: 20px;
    height: 20px;
  }

  .active {
    width: 260px;
  }

  .menu__header {
    padding: 40px 24px;
    height: 118px;
    justify-content: flex-start;
  }

  .menu__header__text {
    font-size: 20px;
    width: 242px;
    line-height: 29.4px;
  }

  .menu__header img{
    width: 70px;
    height: 70px;
  }

  .menu__folded .menu__header {
    padding: 24px 30px;
  }

  .menu__folded .menu__header img {
    width: 70px;
    height: 70px;
  }

  .menu__footer {
    padding-left: 40px;
  }

  .menu__footer__text {
    font-size: 20px;
  }

  .menu__folded {
    width: 146px;
  }

  .menu__folded .menu__body {
    padding-left: 46px;
  }

  .menu__folded .active {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .menu__folded .menu__body__list img {
    margin-left: 10px;
  }

  .menu__folded .menu__footer img {
    margin-left: 16px;
    width: 20px;
    height: 20px;
  }

  .menu__folded .menu__footer__toggle {
    padding-top: 50%;
  }

  .menu__body__list a {
    margin-bottom: 28px;
    line-height: 29.96px;
  }

  .header__input {
    height: 119px;
  }

  .header__main {
    padding: 0 0 0 36px;
  }

  .user__notification img {
    width: 32px;
    height: 32px;
  }

  .user__info {
    margin-right: 50px;
  }

  .user__info__name {
    font-size: 18px;
    width: 170px;
    line-height: 24.51px;
  }

  .user__info__post {
    font-size: 14px;
    line-height: 19.07px;
  }

  .user__info__avatar {
    width: 60px;
    height: 60px;
  }

  .body__back-button {
    height: 80px;
    font-size: 18px;
  }

  .reports-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .reports-title__my-reports__text {
    font-size: 32px;
  }

  .sort {
    height: 50px;
  }

  .reports-form {
    height: 80px;
  }

  .reports-form__body {
    font-size: 16px;
  }

  .reports-form__footer__assistant {
    font-size: 18px;
  }

  .first-block__element__worker {
    height: 60px;
    width: 338px;
  }

  .blue-button {
    height: 50px;
    width: 165px;
    font-size: 16px;
    padding: 14px 6.5px;
  }

  .reports-form__footer__first-block__element {
    font-size: 18px;
  }

  .add-button {
    height: 50px;
    width: 200px;
    font-size: 16px;
  }

  .reports-form__footer__submit {
    height: 80px;
    font-size: 18px;
  }

  .add-report-btn {
    width: 190px;
    height: 50px;
  }

  .add-report-btn img {
    margin-right: 2px;
  }

  .reports-form__footer__save__buttons {
    font-size: 14px;
  }

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1024px) {

  .menu {
    width: 256px;
  }

  .menu__body div {
    padding-left: 28px;
    font-size: 14px;
  }

  .menu__body img {
    width: 16px;
    height: 16px;
  }

  .active {
    width: 180px;
  }

  .menu__header {
    padding: 9px 12px;
    height: 70px;
    justify-content: flex-start;
  }

  .menu__header__text {
    font-size: 12px;
    width: 242px;
    line-height: 17.64px;
  }

  .menu__header img{
    width: 50px;
    height: 50px;
  }

  .menu__folded .menu__header {
    padding: 24px 28px;
  }

  .menu__folded .menu__header img {
    width: 50px;
    height: 50px;
  }

  .menu__footer {
    padding-left: 30px;
  }

  .menu__footer__text {
    font-size: 12px;
  }

  .menu__folded {
    width: 120px;
  }

  .menu__folded .menu__body {
    padding-left: 36px;
  }

  .menu__folded .active {
    width: 37px;
    height: 35px;
    display: flex;
    align-items: center;
  }

  .menu__folded .menu__body__list img {
    margin-left: 10px;
  }

  .menu__folded .menu__footer img {
    margin-left: 16px;
    width: 16px;
    height: 16px;
  }

  .header__input {
    height: 60px;
  }

  .header__main {
    padding: 0 0 0 36px;
  }

  .user__notification img {
    width: 18px;
    height: 18px;
  }

  .user__info {
    margin-right: 50px;
  }

  .user__info__name {
    font-size: 14px;
    width: 140px;
    line-height: 19.07px;
  }

  .user__info__post {
    font-size: 10px;
    line-height: 13.62px;
  }

  .user__info__avatar {
    width: 40px;
    height: 40px;
  }

  .user__info__arrow img {
    width: 20px;
    height: 20px;
  }

  .reports-form__footer__first-block {
    font-size: 14px;
  }

  .sort {
    width: 191px;
    height: 30px;
    font-size: 12px;
  }

  .blue-button {
    font-size: 12px;
  }

  .sort__block {
    width: 191px;
  }

  .add-button {
    height: 30px;
    font-size: 12px;
    padding: 7px 10px;
  }

  .reports-form__footer__first-block__element {
    height: 60px;
  }

}

@media screen and (max-height: 700px) {
  .menu__footer {
    max-height: 100px;
  }
}
