.actions {
    display: flex;
    margin-top: 24px;
}

.actions__reports, .actions__activity {
    flex-basis: 100%;
    width: 50%;
}

.actions__reports {
    margin-right: 24px;
}

.actions__reports .actions__info-item {
    padding: 8px 12px;
}

.actions__info {
    height: 430px;
    overflow-y: scroll;
    padding: 16px;
    box-sizing: border-box;
}

.actions__info-item {
    border: 1px solid #3A424B;
    margin-bottom: 6px;
    border-radius: 8px;
    padding: 16px;
    line-height: 20px;
    font-size: 12px;
}

.actions__info-item:last-child {
    margin-bottom: 0;
}

.actions__reports-rating {
    text-align: right;
    padding-top: 8px;
    padding-right: 2px;
}

.actions__reports-rating .icon-star {
    margin-right: 2px;
}

.actions__reports-rating .icon-star:last-child {
    margin-right: -2px;
}

.actions__reports-rating .icon-star:first-child {
    margin-left: 2px;
}

.actions__info-item-title {
    font-size: 14px;
    height: 30px;
}

.actions__reports-text {
    margin-top: 6px;
    line-height: 20px;
}

.actions__reports-date {
    float: right;
    color: rgba(255,255,255,0.25);
    font-size: 12px;
}

.actions__reports-date .icon-document {
    margin-right: 2px;
}

.actions__info-item .avatar img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.actions__info-item .post {
    font-weight: 600;
    color: rgba(255,255,255,0.7);
    font-size: 9px;
    line-height: 12px;
}

.actions__activity-info {
    display: flex;
}

.actions__activity-user {
    display: flex;
}

.actions__activity-info .info {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.actions__activity-info .name {
    font-size: 14px;
    margin-top: -2px;
}

.actions__activity-info .avatar {
    margin-right: 10px;
    min-width: 40px;
}

.actions__activity-info .status {
    flex-basis: 100%;
}

.actions__activity-info .status {
    display: flex;
    justify-content: right;
    align-items: center;
}

.actions__activity-info .status span {
    color: rgba(255,255,255,0.25);
    margin-right: 16px;
}

.actions__activity-info .status span:last-child {
    margin-right: 3px;
}

.actions__activity-info .status span.active {
    color: #fff;
}

.actions__activity-content {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-left: 50px;
}

.actions__activity-content .item {
    background: #1B2734;
    border-radius: 4px;
    margin-right: 10px;
    flex-basis: 100%;
    padding: 10px 12px;
}

.actions__activity-content .item:last-child {
    margin: unset;
}

.actions__activity-indicators {
    margin-top: 20px;
}

.indicators-list {
    display: flex;
}

.actions__activity-indicators .indicators-list .list .item {
    border: 1px solid transparent;
    background: #1b2734;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
    line-height: 37px;
    margin-right: 5px;
    cursor: pointer;
    height: 38px;
    width: 38px;
    float: left;
}

.actions__activity-indicators .indicators-list .list .item.active {
    border: 1px solid #fff;
}

.actions__activity-indicators .indicators-list .title {
    min-width: 150px;
    margin-left: 50px;
}

.actions__activity-indicators .indicators-list .list .item:hover {
    background: #233344;
}

.indicator-description {
    background: #1b2734;
    padding: 10px 14px;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 12px;
}

.indicator-comparison {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 6px;
}

.indicator-comparison div {
    flex-basis: 100%;
    background: #1b2734;
    margin-right: 6px;
    border-radius: 4px;
    padding: 10px 12px;
}

.indicator-comparison div:last-child {
    margin: unset;
}
