.main {
  width: 100%;
  height: 100%;
}

.menu {
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  color: #535c69;
  transition: 0.5s;
}

.menu, .sort__block, .reports, .reports-footer,.reports-footer__action__sort{
  -webkit-box-shadow: -1px 3px 29px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 3px 29px -5px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 3px 29px -5px rgba(34, 60, 80, 0.2);
}

.menu, .user__info__avatar, .body__back-button, .sort__block, .reports, .reports-list__body__avatar, .reports-footer, .reports-footer__action__sort{
  background-color: #fff;
}

.menu__folded {
  width: 68px;
  min-width: 68px;
}

.menu__folded .menu__header img, .user__info__avatar{
  width: 40px;
  height: 40px;
}

.menu__folded .menu__body__list span, .menu__folded .menu__footer__text, .menu__folded .menu__header div {
  display: none;
}

.menu__folded .active {
  width: 32px;
  height: 26px;
  border-radius: 8px;
  margin-right: 5px;
  text-align: center;
  padding: 0;
}

.menu__folded .menu__body {
  padding-left: 18px;
}

.menu__folded .menu__body__list img {
  margin-right: 0;
  margin-left: 8px;
}

.menu__header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-evenly;
  border-bottom: 1px solid #EBEFF2;
  font-family: "Open Sans Medium";
}

.menu__header__text {
  font-size: 14px;
  width: 170px;
  line-height: 20.58px;
  padding: 6px;
  opacity: 0.85;
}

.menu__body div{
  padding-left: 25px;
}

.menu__folded .menu__body div {
  padding-left: 0;
}

.menu__body__list {
  margin-top: 24px;
}

.menu__body__list:first-child {
  border-bottom: 1px solid #EBEFF2;
}

.menu__body__list a {
  height: 23px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  transition: 0.2s;
  text-decoration: none;
  color: #535c69;
}

.menu__body__list a span {
  min-width: 170px;
}

.menu__body__list a:hover {
  color: #939ba7;
}

.menu__body__list img {
  margin-right: 6px;
}

.active {
  padding: 16px 10px;
  width: 146px;
  background-color: #535c69;
  border-radius: 1px;
  color: #fff !important;
  fill: #fff;
  transition: 0.3s;
}

.menu__footer {
  padding-left: 25px;
  height: 15%;
  vertical-align: bottom;
  flex-grow: 1;
}

.menu__footer__text {
  min-width: 170px;
  font-size: 12px;
}

.menu__footer__toggle a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #535c69;
  transition: 0.1s;
  padding-top: 50%;
}

.menu__footer__toggle a:hover {
  transition: 0.1s;
}

.menu__footer__toggle img{
  margin-right: 14px;
  margin-left: 1px;
}

@media screen and (max-width: 2732px) {

}

@media screen and (max-width: 2560px) {

}

@media screen and (max-width: 2048px) {

}

@media screen and (min-width: 1920px) {
  .menu {
    width: 500px;
  }

  .menu__body div {
    padding-left: 40px;
    font-size: 22px;
  }

  .menu__body img {
    width: 20px;
    height: 20px;
  }

  .active {
    width: 260px;
  }

  .menu__header {
    padding: 40px 24px;
    height: 118px;
    justify-content: flex-start;
  }

  .menu__header__text {
    font-size: 20px;
    width: 242px;
    line-height: 29.4px;
  }

  .menu__header img{
    width: 70px;
    height: 70px;
  }

  .menu__folded .menu__header {
    padding: 24px 30px;
  }

  .menu__folded .menu__header img {
    width: 70px;
    height: 70px;
  }

  .menu__footer {
    padding-left: 40px;
  }

  .menu__footer__text {
    font-size: 20px;
  }

  .menu__folded {
    width: 146px;
  }

  .menu__folded .menu__body {
    padding-left: 46px;
  }

  .menu__folded .active {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .menu__folded .menu__body__list img {
   margin-left: 10px;
  }

  .menu__folded .menu__footer img {
    margin-left: 16px;
    width: 20px;
    height: 20px;
  }

  .menu__folded .menu__footer__toggle {
    padding-top: 50%;
  }
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1024px){

}
