@import "navbar/navbar.css";
@import "start/start.css";
@import "rating/rating.css";
@import "statistics/statistics.css";
@import "comparison/comparison.css";
@import "actions/actions.css";
@import "districts/districts.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Global */

body {
    background: #0e1621;
    font-family: 'Open Sans', serif;
}

img {
    max-width: 100%;
}

/* Container */

.container {
    max-width: 1440px;
    margin: calc(100px + 24px) auto;
}

/* Tables */

.sortable-table th {
    cursor: pointer;
}

.sortable-table thead {
    user-select: none;
    text-align: left;
}

.sortable-table .sortable-icon:before {
    content: "\e90d";
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    position: relative;
}

.sortable-table .th-sort-asc .sortable-icon::before {
    content: "\e90b";
    font-size: 4px;
    top: -3px;
}

.sortable-table .th-sort-desc .sortable-icon::before {
    content: "\e90c";
    font-size: 4px;
    top: -3px;
}

.table-avatar {
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-right: 8px;
    height: 40px;
    width: 40px;
    float: left;
}

.table-progress-bar {
    border-radius: 0 8px 8px 0;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
}

.table-progress-bar-gradient {
    background: linear-gradient(90deg, rgba(23,33,43,0.8) 0%, rgba(255,255,255,0) 60%);
    padding-left: 10px;
    font-size: 12px;
}

/* Collapsable */

.collapsible-button {
    background-color: unset;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}
.collapsible-button .icon-chevron-down {
    float: right;
    transition: 0.3s;
    position: relative;
    top: 2px;
}
.collapsible.active .icon-chevron-down {
    transform: rotate(180deg);
    top: 6px;
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Buttons */

.button {
    white-space: nowrap;
    padding: 13px 20px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    border: unset;
    height: 40px;
}

.button-success {
    background: #61B252;
    color: #fff;
}
.button-success:hover {
    background: #569D48;
}

.button-link {
    background: unset;
    color: #fff;
}
.button-link:hover {
    background: rgba(255,255,255,0.02);
}

.upper {
    text-transform: uppercase;
}

.button .icon {
    font-size: 12px;
    position: relative;
    right: 2px;
    top: 1px;
}
