.districts {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.districts__info {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.chechnya-map {
    flex-basis: 70%;
    min-height: 360px;
}

.chechnya-districts {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.districts-title {
    margin-bottom: 20px;
    font-weight: 600;
    padding: 12px;
}

.districts-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 34px 0;
}

.districts-list .item {
    white-space: nowrap;
}

.districts-list a {
    border-radius: 10px;
    padding: 6px 12px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    color: #535C69;
}

.districts-list a:hover, .districts-list a.current:hover {
    border: 1px solid #61b252;
    color: #61b252;
}

.districts-list a.current {
    border: 1px solid #f1c40f;
    color: #f1c40f;
}

@media only screen and (max-width: 1280px) {
    .districts__info {
        flex-direction: column;
        align-items: center;
    }
    .districts-list {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 22px 0;
        margin-top: 14px;
        margin-bottom: 10px;
    }
    .chechnya-districts {
        width: 100%;
    }
}
