html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  vertical-align: baseline;
}

.developer-alert {
  background-color: #ffe7e6;
  color: #ee8a8a;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.developer-alert i {
  margin-right: 4px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

input, textarea {
  color: #535C69;
  font-size: 15px;
  font-family: 'Open Sans', serif;
}

body {
	line-height: 1;
    font-family: 'Open Sans', serif;
}

iframe {
  max-width: 100%;
}

a {
  text-decoration: unset;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content {
  width: 100%;
  height: 100%;
}

/* Alerts */

.alert {
  margin-bottom: 24px;
  padding: 20px;
  border-radius: 12px;
}

.alert ul li {
  margin-bottom: 8px;
}

.alert ul li:last-child {
  margin: unset;
}

.alert-success {
  background: #d7f2e5;
  color: #40c29d;
}

.alert-error {
  background: #ffe7e6;
  color: #ee8a8a;
}

/*
Обнуляющие теги
*/

* {
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #eef2f4;
  margin: 0;
  display: flex;
}

.user__notification, .user__info__arrow, .sort__block__element, .menu__body__list a,
.menu__footer__toggle a, .reports-title__my-reports__btn button, .variables, .reports-footer__submit__button button{
  cursor: pointer;
}

.reports__body__line__term span {
  width: 200px;
  text-align: center;
  line-height: 18px;
  height: 40px;
  display: inline-block;
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
}

.empty-message {
  background: rgba(0,0,0,0.03);
  padding: 18px;
  border-radius: 4px;
}

.warning {
  background-color: #fef0cb;
}

.review {
  background-color: #dde4f0;
}

.expired {
  background-color: #fecbcb;
}

.completed {
  background-color: #eeeeee;
}

.checked {
  background-color: #eaf9c4 !important;
}

.finished {
  background-color: #d8fecb;
}

.reports {
  max-height: 70vh;
}

.reports-list__title__fourth-element {
  padding-right: 5%;
}

.reports-list__title__second-element {
  margin-left: 4%;
}

.none {
  opacity: 0;
  display: none;
  transition: 0.3s;
}

@media screen and (max-width: 2732px) {

}

@media screen and (min-width: 2560px) {

  .reports-list__title__second-element {
    margin-left: -8%;
  }

  .reports-list__title__third-element {
    margin-left: 5%;
  }

  .reports-list__title__fourth-element {
    padding-right: 10%;
  }
}

@media screen and (max-width: 2048px) {

}

@media screen and (min-width: 1920px) {

  .header__input {
    height: 119px;
  }

  .header__main {
    padding: 0 0 0 36px;
  }

  .user__notification img {
    width: 32px;
    height: 32px;
  }

  .user__info {
    margin-right: 50px;
    width: 350px;
  }

  .user__info__name {
    font-size: 18px;
    width: 170px;
    line-height: 24.51px;
  }

  .user__info__post {
    font-size: 14px;
    line-height: 19.07px;
  }

  .user__info__avatar {
    width: 60px;
    height: 60px;
  }

  .sort {
    width: 255px;
    height: 50px;
  }

  .sort__block {
    width: 255px;
  }

  .reports {
    max-height: 74vh;
    font-size: 16px;
  }

  .reports-footer {
    height: 80px;
  }

  .body__back-button {
    height: 80px;
  }

  .reports__body__line {
    font-size: 16px;
  }

  .reports-title__my-reports__text {
    font-size: 32px;
  }

  .reports-title__my-reports__btn button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }

  .reports__body__avatar, .reports__body__second__avatar {
    height: 40px;
    width: 40px;
  }

  .actions__info-item .post {
    font-size: 12px;
    line-height: 16px;
  }

  .actions__activity-info .status, .actions__activity-indicators .indicators-list .title, .actions__activity-info .name {
    font-size: 16px;
  }

  .actions__activity-indicators .indicators-list .title {
    margin-right: 10px;
    min-width: 184px;
  }

  .indicator-description {
    font-size: 16px;
    line-height: 27.2px;
  }

  .indicator-comparison {
    font-size: 16px;
    height: 50px;
  }

  .reports-body__side-block {
    min-width: 336px;
  }

  .reports-body__side-block__button {
    font-size: 17px;
    height: 50px;
  }

  .side-block__body {
    font-size: 16px;
  }

  .side-block__body img {
    width: 60px;
    height: 60px;
  }

  .side-block__header {
    height: 70px;
    font-size: 18px;
  }

  .actions__activity-content .item {
    height: 50px;
    font-size: 16px;
  }

  .actions__activity-indicators .indicators-list .list .item.active {
    height: 50px !important;
    max-height: 50px !important;
  }

  .actions__activity-indicators .indicators-list .list .item {
    width: 50px;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reports-body__info p {
    font-size: 16px;
    line-height: 200%;
  }

  .reports-body__content__main {
    margin-bottom: 32px;
  }

  .actions__activity-info .avatar img {
    object-fit: cover;
    width: 60px;
    height: 60px;
  }

  .reports-footer__action {
    width: 177px;
    height: 50px;
  }

  .reports-footer__action__sort {
    position: absolute;
    opacity: 1;
    width: 233px;
    text-align: center;
    line-height: 30px;
    left: -56px;
    top: 40px;
    transition: 0.3s;
  }

  .reports-body__header, .reports-body__content__last-activity span {
    height: 80px;
    font-size: 18px;
  }

  .reports-body__comment {
    min-height: 100px;
    width: 100%;
    margin: 6px 0;
    background: #fff;
    border-radius: 4px;
    padding: 16px 14px 7px 14px;
    font-size: 16px;
    word-break: break-word;
    line-height: 25.6px;
  }

  .reports-body__comment p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .reports-title__my-reports__text .district {
    margin-right: 8px;
  }
}

.reports__body__element {
  height: 70px;
  max-width: 100px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 31px;
  padding-left: 50px;
}

.reports-list__title__second-element {
  margin-left: 8%;
}

.reports-list__title__third-element {
  margin-left: 10%;
}

.reports-list__title__fourth-element {
  padding-right: 5%;
}

@media screen and (max-width: 2560px) {

}

@media screen and (max-width: 1300px) {
  .reports-list__title__third-element {
    margin-left: 18%;
  }

  .reports-list__title__second-element {
    margin-left: 12%;
  }
}

@media screen and (max-width: 1100px) {
  .reports-list__title__third-element {
    margin-left: 12%;
  }

  .reports-list__title__second-element {
    margin-left: 12%;
  }
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1024px){

  .header__input {
    height: 60px;
  }

  .header__main {
    padding: 0 0 0 36px;
  }

  .user__notification img {
    width: 18px;
    height: 18px;
  }

  .user__info {
    margin-right: 50px;
  }

  .user__info__name {
    font-size: 14px;
    width: 140px;
    line-height: 19.07px;
  }

  .user__info__post {
    font-size: 10px;
    line-height: 13.62px;
  }

  .user__info__avatar {
    width: 40px;
    height: 40px;
  }

  .user__info__arrow img {
    width: 20px;
    height: 20px;
  }

  .sort {
    width: 191px;
    height: 30px;
    font-size: 12px;
  }

  .sort__block {
    width: 191px;
  }

  .reports {
    max-height: 70vh;
    font-size: 12px;
  }

  .reports-footer {
    height: 60px;
  }

  .reports__decrease-height {
    height: 52vh;
  }

  .reports-title__my-reports__text {
    font-size: 18px;
  }

  .menu__folded .toggle-icon {
    margin-right: 0;
    margin-left: 12px;
  }

  .reports-list__title {
    font-size: 12px;
    height: 46.58px;
  }

  .reports__body__avatar, .reports__body__second__avatar {
    min-width: 24px;
    height: 24px;
  }

  .reports-list__title__second-element {
    margin-left: 8%;
  }

  .reports-title__my-reports__btn button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }

  .reports-list__more {
    width: 100px;
  }

  .reports-title__my-reports__text .title {
    margin-left: 6px;
    font-size: 16px;
    top: 1px;
  }
}

@media screen and (max-height: 800px) {
  .menu {
    min-height: 100vh;
  }
}

@media screen and (max-height: 700px) {
  .menu__footer {
    max-height: 100px;
  }

  .reports {
    height: 70vh;
  }

  .menu__footer__toggle a {
    padding-top: 0;
    bottom: 25px;
  }
}


@media screen and (max-height: 600px) {
  .menu__footer {
    max-height: 200px;
  }

  .menu__footer__toggle a {
    padding-top: 0;
    bottom: 25px;
  }

}

@media screen and (max-height: 500px) {
  .menu__footer {
    max-height: 200px;
  }

  .menu__footer__toggle a {
    padding-top: 0;
    bottom: 25px;
  }
}
