@import "navbar/navbar.css";
@import "welcome/welcome.css";
@import "rating/rating.css";
@import "statistics/statistics.css";
@import "comparison/comparison.css";
@import "activity/activity.css";
@import "districts/districts.css";
@import "footer/footer.css";
@import "dropdown/dropdown.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* Global */

body {
    background: #0e1621;
    font-family: 'Open Sans', serif;
    font-size: 16px;
}

input::placeholder {
    font-family: 'icomoon', 'Open Sans', serif;
}

body, a, button{
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h3 {
    font-size: 22px;
}

.custom-anchor {
    top: -140px;
    position: relative;
    visibility: hidden;
}

.scrollable-table table {
    min-width: 768px;
}

.spinner-box {
    margin: 30px 12px 34px;
    display: flex;
    justify-content: center;
}

.spin {
    display: inline-block;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Logotype */

.main-logotype {
    box-sizing: border-box;
    align-items: center;
    max-width: 260px;
    min-width: 260px;
    padding: 0 24px;
    display: flex;
    height: 100px;
}

.navbar .main-logotype {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.main-logotype:hover {
    background: rgba(255,255,255,0.02);
}

.main-logotype img {
    height: 68px;
    margin-right: 16px;
    min-width: 50px;
}

.main-logotype .text {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.main-logotype .text b {
    font-size: 8px;
    line-height: 12px;
}

/* Container */

.container {
    max-width: 1693px;
    margin: calc(100px + 24px) auto 24px;
}

/* Navbar */

.navbar-responsive {
    display: none;
    align-items: center;
    margin: 0 0 24px;
    min-height: 43px;
}

.navbar-responsive .item {
    display: flex;
}

.navbar-responsive .item.search {
    flex-basis: 100%;
}

.navbar-responsive .navbar-search {
    width: 100%;
}

.navbar-responsive .item .map, .navbar-responsive .item .documentation {
    margin-right: 10px;
    display: flex;
}

/* Block box */

.block-box {
    background: #17212b;
    border-radius: 12px;
}

.content-box {
    line-height: 22.5px;
}

.content-box p:first-child {
    margin-top: unset;
}

.content-box p:last-child {
    margin-bottom: unset;
}

.block-padding {
    padding: 16px;
}

.block-margin-top {
    margin-top: 24px;
}

.sub-block-margin-top {
    margin-top: 6px !important;
}

.sub-block-margin-bottom {
    margin-bottom: 6px;
}

.sub-block-margin-right {
    margin-right: 6px;
}

/* User boxes */

.user-boxes {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 12px;
}

.user-box {
    display: flex;
    border: 1px solid #39414A;
    border-radius: 8px;
    padding: 10px 12px;
    box-sizing: border-box;
}

.user-box:hover {
    background: rgba(255,255,255,0.03);
}

.user-box .user-avatar .avatar {
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.user-box .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-box .user-info .title {
    margin-bottom: 2px;
    margin-top: unset;
}

.user-box .user-info .muted {
    color: #515860;
    font-size: 14px;
}

.user-box .user-info span {
    margin-top: 8px;
}

.user-box .user-avatar {
    margin-right: 12px;
}

/* Grid block */

.grid-block {
    display: flex;
}

.grid-block .grid-block-main {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    background-color: #17212b;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
    margin-right: 12px;
}

.grid-block-main .media .avatar {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.grid-block-main .title {
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0;
}

.grid-block-main .muted {
    font-size: 14px;
    color: #515860;
    margin-bottom: 10px;
}

.grid-block-main .social a {
    color: #565e66;
    margin-right: 6px;
}

.grid-block-main .social a:hover {
    color: #727c86;
}

.grid-block-main .social a:last-child {
    margin-right: unset;
}

.grid-block-main .social i {
    font-size: 22px;
}

.grid-block-main .icon-pin {
    font-size: 10px;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.grid-block-main .muted:last-child {
    margin: unset;
}

.grid-block .data {
    width: calc(100% - 100% / 3);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 12px;
}

.grid-block .data .item {
    background: #17212b;
    border-radius: 12px;
    align-items: center;
    padding: 24px 0;
    display: flex;
}

.grid-block .data .item .content {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #61b252;
    padding-left: 16px;
    padding-right: 12px;
}

.grid-block .data .item span:first-child {
    font-size: 12px;
    color: #515860;
    margin-bottom: 6px;
}

/* Block title */

.block-box h3 {
    padding: 14px 20px 16px;
    margin: unset;
    line-height: 34px;
}

.block-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 13px;
}

.block-title-box .dropdowns-list {
    display: flex;
}

.block-title-box .dropdowns-list .dropdown {
    margin-right: 6px;
}

.block-title-box .dropdowns-list .dropdown:last-child {
    margin: unset;
}

/* Tables */

.sortable-table th {
    cursor: pointer;
}

.sortable-table thead {
    user-select: none;
    text-align: left;
}

.sortable-table .sortable-icon:before {
    content: "\e90d";
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    position: relative;
}

.sortable-table .th-sort-asc .sortable-icon::before {
    content: "\e90b";
    font-size: 4px;
    top: -3px;
}

.sortable-table .th-sort-desc .sortable-icon::before {
    content: "\e90c";
    font-size: 4px;
    top: -3px;
}

.table-avatar {
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-right: 8px;
    height: 40px;
    width: 40px;
    float: left;
}

.table-progress-bar {
    border-radius: 0 8px 8px 0;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
}

.table-progress-bar-gradient {
    background: linear-gradient(90deg, rgba(23,33,43,0.8) 0%, rgba(23,33,43,0) 60%);
    padding-left: 10px;
    font-size: 12px;
}

/* Collapsable */

.collapsible-button {
    background-color: unset;
    user-select: none;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.collapsible-button .chevron {
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.collapsible.muted .collapsible-button {
    cursor: unset;
    user-select: unset;
}

.collapsible-button .icon-chevron-down {
    float: right;
    transition: 0.3s;
    position: relative;
    top: 0;
}

.collapsible.active .icon-chevron-down {
    transform: rotate(180deg);
    top: 4px;
}

.collapsible.muted .collapsible-button .icon-chevron-down {
    display: none;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Buttons */

.button {
    white-space: nowrap;
    padding: 13px 20px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
}

.button i {
    margin-right: 4px;
    font-size: 90%;
}

.button .icon {
    position: relative;
    top: 1px;
}

.button-success {
    background: #61B252;
}

.button-success:hover {
    background: #569D48;
}

.button-link {
    background: unset;
}
.button-link:hover {
    background: rgba(255,255,255,0.02);
}

.button.button-success-border {
    background: rgba(255,255,255,0.1);
    border: 1px solid #11A880;
    color: #11A880;
}

.button.button-success-border:hover {
    background: rgba(255,255,255,0.2);
}

.upper {
    text-transform: uppercase;
}

/* Scrollable box */

.scrollable-box:before, .scrollable-box:after {
    position: sticky;
    display: block;
    height: 16px;
    content: "";
    width: 100%;
    top: -16px;
    z-index: 1;
}

.scrollable-box:before {
    background: linear-gradient(0deg, rgba(23, 33, 43, 0) 0%, rgb(23, 33, 43) 100%);
    margin-top: -15px;
}

.scrollable-box:after {
    background: linear-gradient(180deg, rgba(23, 33, 43,0) 0%, rgb(23, 33, 43) 100%);
    bottom: -16px;
    margin-bottom: -16px;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scrollbar-width: thin;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #1f2933;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
}

/* Login page */

.login-page {
    background-image: url('/assets/images/blur-background.png');
    background-size: cover;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.login-page .logotype, .login-page .login-form {
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    display: flex;
    width: 50%;
}
.login-grid {
    background-image: url('/assets/images/form-background.png');
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto;
    place-items: center;
    grid-gap: 100px;
    width: 100%;
}

.login-page .logotype {
    grid-area: 2 / 2;
}
.login-page .login-form {
    grid-area: 2 / 3;
}

.login-page .logotype img {
    height: 580px;
    max-width: unset;
}
.login-page form {
    background: rgba(255,255,255,0.05);
    padding: 100px 55px;
    border-radius: 12px;
}
.login-page header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.login-page .login-form input {
    background: unset;
    border: 1px solid white;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 390px;
    box-sizing: border-box;
    height: 60px;
    padding: 10px 20px;
    color: white;
}
.login-page .login-form button {
    background: #61B252;
    border: unset;
    color: white;
    width: 100%;
    height: 60px;
    border-radius: 6px;
}

/* error error page */

.error-block {
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.error-block-content {
    width: 400px;
    position: relative;
}

.error-block-background {
    color: #17212B;
    font-size: 280px;
    font-weight: 800;
    position: absolute;
    top: -25%;
    left: -12%;
}

.error-block-info {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-block-info span {
    line-height: 24px;
}
