.reports-list {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: grey;
}

.reports-list input[type = "checkbox"] {
  width: 16px;
  height: 16px;
}

.reports-list__title {
  height: 70px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  margin-bottom: 6px;
}

.reports-list__title__body {
  width: 88%;
  display: flex;
  justify-content: space-between;
}

.reports-list__title__element {
  min-width: 120px;
}

.reports-list__title__second-element {
  margin-left: 2.5%;
}

.reports-list__title__third-element {
  margin-left: 4%;
}

.reports-list__title__fourth-element {
  padding-left: 10%;
}

.reports-list__title__body:first-child {
  padding-left: 18px;
}

.reports-list__body {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.reports-list__more {
  border-radius: 146px;
  width: 105px;
  padding: 2px 5px;
  border: 1px solid #9ECF06;
  background-color: #E3F6C8;
}

.reports-list__body__line {
  display: table-row;
  margin-top: 16px;
  transition: 0.3s;
  border-bottom: 1px solid #f1f1f1;
}

.reports-list__body__line:hover {
  background-color: #F6F8F9;
  transition: 0.1s;
}

.reports-list__body__element {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 30px;
  padding-left: 200px;
}

.reports-list__body__element .name {
  display: flex;
  align-items: center;
}

.reports-list__body__element:first-child  {
  padding-left: 16px;
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.reports-list__body__img {
  margin-right: 6px;
  margin-left: 3px;
}

.reports-list__body__avatar {
  height: 30px;
  min-width: 30px;
  margin-right: 6px;
  border-radius: 100%;
  border: 2px solid #e0e0e0;
  background-image: url("../../../assets/img/avatar.jpg");
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
}

.name {
  margin-right: 120px;
}

.reports-list__line {
  width: 100%;
  height: 6px;
  background-color: #eef2f4;
}
