.districts {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.districts__info {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.chechnya-map {
    flex-basis: 70%;
    min-height: 360px;
}

.chechnya-districts {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.districts-title {
    margin-bottom: 10px;
    font-weight: 600;
    padding: 12px;
}

.districts-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 22px 0;
}

.districts-list .item {
    white-space: nowrap;
}

.districts-list a {
    border-radius: 10px;
    padding: 6px 12px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
}

.districts-list a:hover {
    border: 1px solid #61b252;
    color: #61b252;
}

.districts-collapsible {
    margin-top: 6px;
    display: none;
}

.districts-collapsible .collapsible-button {
    font-weight: 600;
    padding: 0 19px;
    border-radius: 12px;
    background: #17212b;
    height: 64px;
    box-sizing: border-box;
    align-items: center;
}

.districts-collapsible .collapsible-button .chevron {
    top: -2px;
    position: relative;
}

.districts-collapsible .collapsible-content {
    background: #17212b;
    border-radius: 12px;
    margin-top: 6px;
}

.districts-collapsible .collapsible-content .item {
    border-bottom: 1px solid #2e3740;
}

.districts-collapsible .collapsible-content .item:hover {
    background: rgba(0,0,0,0.1);
}

.districts-collapsible .collapsible-content .item:last-child {
    border: unset;
}

.districts-collapsible .collapsible-content a {
    width: 100%;
    display: block;
    padding: 12px;
}
