/* Actions */

.actions {
    display: flex;
    margin-top: 24px;
}

.actions__reports, .actions__activity {
    flex-basis: 100%;
    width: 50%;
}

.actions__reports {
    margin-right: 24px;
}

.actions__reports .actions__info-item {
    padding: 8px 12px;
}

.actions__info {
    height: 430px;
    overflow-y: scroll;
    padding: 16px;
    box-sizing: border-box;
}

.actions__info-item {
    border: 1px solid #3A424B;
    margin-bottom: 6px;
    border-radius: 8px;
    padding: 16px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}

.actions__reports .actions__info-item:hover {
    background-color: rgba(255,255,255,0.03);
}

.actions__info-item:last-child {
    margin-bottom: 0;
}

.actions__reports-rating {
    text-align: right;
    padding-top: 8px;
    padding-right: 2px;
}

.actions__reports-rating i {
    margin-right: 2px;
}

.actions__reports-rating i:last-child {
    margin-right: -2px;
}

.actions__reports-rating i:first-child {
    margin-left: 2px;
}

.actions__info-item-title {
    font-size: 14px;
    height: 30px;
}

.actions__reports-text {
    margin-top: 6px;
    line-height: 20px;
}

.actions__reports-date {
    float: right;
    color: rgba(255,255,255,0.25);
    font-size: 12px;
}

.actions__reports-date .icon-document {
    margin-right: 2px;
}

.actions__info-item .avatar img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.actions__info-item .post {
    font-weight: 600;
    color: rgba(255,255,255,0.7);
    font-size: 9px;
    line-height: 12px;
}

.actions__activity-info {
    display: flex;
}

.actions__activity-user {
    display: flex;
}

.actions__activity-info .info {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.actions__activity-info .name {
    font-size: 14px;
    margin-top: -2px;
}

.actions__activity-info .avatar {
    margin-right: 10px;
    min-width: 40px;
}

.actions__activity-info .status {
    flex-basis: 100%;
}

.actions__activity-info .status {
    display: flex;
    justify-content: right;
    align-items: center;
}

.actions__activity-info .status span {
    color: rgba(255,255,255,0.25);
    margin-right: 16px;
}

.actions__activity-info .status span:last-child {
    margin-right: 3px;
}

.actions__activity-info .status span.active {
    color: #fff;
}

.actions__activity-content {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-left: 50px;
}

.actions__activity-content .item {
    background: #1B2734;
    border-radius: 4px;
    margin-right: 10px;
    flex-basis: 100%;
    padding: 10px 12px;
}

.actions__activity-content .item:last-child {
    margin: unset;
}

.actions__activity-indicators {
    margin-top: 20px;
}

.indicators-list {
    display: flex;
}

.actions__activity-indicators .indicators-list .list .item {
    border: 1px solid transparent;
    background: #1b2734;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
    line-height: 37px;
    margin-right: 5px;
    cursor: pointer;
    height: 38px;
    width: 38px;
    float: left;
}

.actions__activity-indicators .indicators-list .list .item.active {
    border: 1px solid #fff;
}

.actions__activity-indicators .indicators-list .title {
    min-width: 150px;
    margin-left: 50px;
}

.actions__activity-indicators .indicators-list .list .item:hover {
    background: #233344;
}

.indicator-description {
    background: #1b2734;
    padding: 10px 14px;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 12px;
}

.indicator-comparison {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 6px;
}

.indicator-comparison div {
    flex-basis: 100%;
    background: #1b2734;
    margin-right: 6px;
    border-radius: 4px;
    padding: 10px 12px;
}

.indicator-comparison div:last-child {
    margin: unset;
}

/* Comparison */

.comparison {
    flex-direction: column;
    margin-top: 24px;
    display: flex;
}

.comparison__info {
    border-radius: 12px;
    font-size: 12px;
    margin-top: 6px;
}

.comparison__info .sub-collapsible .collapse-indicator-button, .comparison__info .sub-collapsible .collapse-indicator-content {
    padding-left: 40px;
}

.comparison__info .sub-collapsible .collapse-indicator-button::before {
    color: rgba(255,255,255,0.2);
    position: absolute;
    font-size: 14px;
    content: "↳";
    left: 18px;
    top: 17px;
}

.comparison__info .collapse-indicator-button {
    border-bottom: 1px solid #2e3740;
    background: #17212b;
    position: relative;
    line-height: 20px;
    transition: 0.3s;
    padding: 18px 40px 18px 18px;
    box-sizing: border-box;
}

.collapse-indicator-button {
    justify-content: space-between;
    position: relative;
    user-select: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    outline: none;
    border: none;
}

.collapse-indicator.muted .collapse-indicator-button {
    cursor: unset;
    user-select: unset;
}

.collapse-indicator.chevron .collapse-indicator-button:after {
    top: calc((100% - 20px) / 2);
    font-family: 'icomoon', serif;
    position: absolute;
    content: "\e906";
    transition: 0.3s;
    font-size: 6px;
    right: 20px;
}

.collapse-indicator.chevron.active .collapse-indicator-button:after {
    rotate: 180deg;
}

.collapse-indicator .collapse-indicator-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.comparison__info .collapse-indicator:last-child .collapse-indicator-button {
    border: unset;
}

.comparison__info .collapse-indicator:first-child .collapse-indicator-button {
    border-radius: 12px 12px 0 0;
}

.comparison__info .collapse-indicator:last-child .collapse-indicator-button {
    border-radius: 0 0 12px 12px;
}

.comparison__info .collapse-indicator.active:first-child .collapse-indicator-button {
    border-radius: 12px;

}
.comparison__info .collapse-indicator.active:not(:first-child) .collapse-indicator-button {
    border-radius: 0 0 12px 12px;
}

.comparison__info .collapse-indicator.active.previous-open:not(:first-child) .collapse-indicator-button {
    border-radius: 12px;
}

.comparison__info .collapse-indicator.previous-open .collapse-indicator-button {
    border-radius: 12px 12px 0 0;
}

.comparison__info .collapse-indicator.previous-open:last-child .collapse-indicator-button {
    border-radius: 12px;
}

.districts-score {
    margin: 6px 0;
}

.districts-score-table {
    border-spacing: unset;
    margin-top: 6px;
    font-size: 16px;
    width: 100%;
}

.districts-score-table tbody td {
    background: #17212b;
    line-height: 40px;
    height: 50px;
}

.districts-score-table tbody tr:first-child td:first-child {
    border-radius: 12px 0 0 0;
}

.districts-score-table tbody tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
}

.districts-score-table tbody tr:last-child td:last-child {
    border-radius: 0 0 12px 0;
}

.districts-score-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 12px;
}

.districts-score-table thead {
    height: 64px;
    font-size: 14px;
}

.districts-score-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #2e3740;
}

.districts-score-table thead th {
    background: #17212b;
}

.districts-score-table thead th:first-child {
    border-radius: 12px 0 0 12px;
}

.districts-score-table thead th:last-child {
    border-radius: 0 12px 12px 0;
}

.districts-score-table tbody:before {
    content:"@";
    display:block;
    line-height:0;
    text-indent:-99999px;
}

.districts-score-table tbody tr td.separator {
    width: 16px;
    border: unset;
}

.districts-score-table tr th.separator {
    height: 64px;
}

/* Districts */

.districts {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.districts__info {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.chechnya-map {
    flex-basis: 70%;
    min-height: 360px;
}

.chechnya-districts {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.districts-title {
    margin-bottom: 10px;
    font-weight: 600;
    padding: 12px;
}

.districts-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 22px 0;
}

.districts-list .item {
    white-space: nowrap;
}

.districts-list a {
    border-radius: 10px;
    padding: 6px 12px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
}

.districts-list a:hover, .districts-list a.current:hover {
    border: 1px solid #61b252;
    color: #61b252;
}

.districts-list a.current {
    border: 1px solid #f1c40f;
    color: #f1c40f;
}

/* Footer */

.footer {
    height: 100px;
    background: #17212B;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer-container {
    display: flex;
    max-width: 1693px;
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.footer .logotype {
    width: 240px;
}

/* Navbar */

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: #17212B;
    height: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1693px;
    margin: 0 auto;
    display: flex;
    height: 100px;
}

.navbar-menu {
    flex-basis: 100%;
    display: flex;
}

.navbar-menu .item.search {
    width: 50%;
}

.navbar-menu .item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search {
    width: 60%;
}

.navbar-search .input {
    border: 1px solid rgba(255,255,255,0.1);
    background: unset;
    color: #fff;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    font-size: 12px;
    padding: 8px 12px;
}

.navbar-user {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    align-items: center;
    height: 100px;
    display: flex;
}

.navbar-user .avatar {
    width: 50px;
    margin-right: 30px;
    position: relative;
    min-width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.navbar-user .avatar i {
    position: absolute;
    right: -20px;
    top: 14px;
}

.navbar-user .username {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    line-height: 18px;
    flex-basis: 100%;
    font-size: 8px;
    display: flex;
}

.navbar-user .avatar img {
    border-radius: 100%;
}

.navbar-user .username .post {
    font-size: 12px;
}

.navbar-user:hover {
    background: rgba(255,255,255,0.02);
}

.navbar-user .dropdown .current {
    white-space: nowrap;
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0 10px 0 20px;
}

.navbar-user .dropdown .options {
    top: 108px;
    right: -11px;
}

/* Rating */

.rating {
    margin-top: 24px;
    display: flex;
}

.rating__regions {
    padding: 10px 40px;
    width: 220px;
}

.rating__regions ul {
    line-height: 28px;
    list-style: none;
    font-size: 14px;
    padding: unset;
}

.rating__info {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.rating__diagram {
    flex-basis: 100%;
    display: flex;
    padding: 16px;
}

.rating__bars-diagram .rating-list {
    list-style: none;
    margin: 0 18px;
    padding: unset;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    font-size: 12px;
}

.rating__bars-diagram .rating-list li {
    position: relative;
    text-align: right;
}

.rating__bars-diagram .rating-list span {
    float: left;
    width: 28px;
}

.rating__bars-diagram .rating-list li:before {
    content: "";
    border-bottom: 1px dotted rgba(255,255,255,0.25);
    width: calc(100% - 40px);
    display: table;
    top: 10px;
    position: absolute;
    right: 0;
}

.rating__bars-diagram {
    width: 100%;
    position: relative;
}

.regions-list__bars {
    justify-content: space-between;
    padding: 0 19px 0 59px;
    height: calc(100% - 28px);
    box-sizing: border-box;
    position: absolute;
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    top: 0;
}

.regions-list__bars .regions-list__bar {
    background-image: linear-gradient(90deg, rgb(77, 210, 51) 25%, rgb(254, 234, 134) 50%, rgb(217, 76, 73) 75%);
    border-radius: 12px 12px 0 0;
    width: calc(100% / 17 - 14px);
    background-attachment: fixed;
    background-position: center;
    position: relative;
    transition: 0.4s;
    align-self: flex-end;
}

.regions-list__bars .regions-list__bar:first-child {
    border-radius: 0 12px 0 0;
}

.regions-list__bar-gradient {
    border-radius: 12px 12px 0 0;
    display: flex;
    height: 100%;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(23, 33, 43,0) 50%, rgb(23, 33, 43) 100%);
    justify-content: center;
}

.regions-list__bar-gradient .current-district {
    transform: rotate(270deg);
    position: absolute;
    font-size: 16px;
    bottom: 80px;
}

.regions-list__bar-gradient:hover {
    background: linear-gradient(180deg, rgba(255,255,255,0.1) 50%, rgb(23, 33, 43) 100%);
}

.regions-list__bars .regions-list__bar:first-child .regions-list__bar-gradient {
    border-radius: 0 12px 0 0;
}

.regions-list__bars .regions-list__bar span {
    bottom: -26px;
    text-align: center;
    width: 100%;
    display: block;
    position: absolute;
    font-size: 12px;
}

.regions-list__bar_info {
    border-radius: 12px;
    text-align: center;
    position: absolute;
    transition: 0.4s;
    display: block;
    width: 100%;
    top: -30px;
    opacity: 0;
}

.regions-list__bars .regions-list__bar:hover .regions-list__bar_info {
    opacity: 1;
    transition: 0.4s;
}

/* Welcome block */

.start {
    display: flex;
    height: 450px;
}

.start__welcome, .start__info {
    background-size: cover !important;
    border-radius: 12px;
    position: relative;
    flex-basis: 100%;
}

.start__welcome {
    background: url('/assets/images/grozny.jpg') center;
    margin-right: 24px;
}

.start__info {
    background: url('/assets/images/kadyrov.jpg') center;
}

.start__backdrop {
    background: rgba(19, 25, 34, 0.85);
    border-radius: 11px;
    height: 100%;
}

.start_centered {
    transform: translate(-50%, -50%);
    width: calc(100% - 140px);
    justify-content: center;
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
}

.start__image {
    margin-right: 28px;
    position: relative;
    min-width: 30%;
}

.start__image img {
    transform: translateY(-50%);
    position: absolute;
    width: 160px;
    top: 50%;
}

.start__image.start__image_size_s {
    min-width: 110px;
}

.start__image_size_s img {
    width: 110px;
}

.start__description h3 {
    margin-bottom: 18px;
    line-height: 36px;
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
}

.start__description p {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.75;
    margin: 0;
}

.start__button i {
    position: relative;
    font-size: 16px;
    width: 12px;
    display: block;
    float: left;
    margin-right: 8px;
}


.start__button {
    background: rgba(255,255,255,0.1);
    border: 1px solid #11A880;
    text-decoration: unset;
    border-radius: 8px;
    margin-top: 18px;
    display: table;
    color: #11A880;
    padding: 10px 12px;
    font-size: 12px;
}

.start__button:hover {
    background: rgba(255,255,255,0.2);
}
