.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: #17212B;
    height: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1693px;
    margin: 0 auto;
    display: flex;
    height: 100px;
}

.navbar-menu {
    flex-basis: 100%;
    display: flex;
}

.navbar-menu .item.search {
    width: 50%;
}

.navbar-menu .item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search {
    width: 60%;
}

.navbar-search .input {
    border: 1px solid rgba(255,255,255,0.1);
    background: unset;
    color: #fff;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    font-size: 12px;
    padding: 8px 12px;
}

.navbar-user {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    align-items: center;
    height: 100px;
    display: flex;
}

.navbar-user .avatar {
    width: 50px;
    margin-right: 30px;
    position: relative;
    min-width: 50px;
    height: 50px;
}

.navbar-user .avatar i {
    position: absolute;
    right: -20px;
    top: 14px;
}

.navbar-user .username {
    text-transform: uppercase;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    line-height: 18px;
    flex-basis: 100%;
    font-size: 8px;
    display: flex;
}

.navbar-user .dropdown {
    margin: 0 10px 0 20px;
}

.navbar-user .avatar img {
    border-radius: 100%;
}

.navbar-user .username .post {
    font-size: 12px;
}

.navbar-user:hover {
    background: rgba(255,255,255,0.02);
}

.navbar-user .dropdown .current {
    white-space: nowrap;
    display: flex;
    border: unset;
    height: 100px;
    align-items: center;
    padding: unset;
}

.navbar-user .dropdown .options {
    top: 108px;
    right: -11px;
}

.navbar-user .dropdown .current::after, .navbar-user .dropdown.show .current::after {
    content: unset;
}
