.menu__footer {
  display: flex;
  align-items: flex-end;
  padding-left: 25px;
  vertical-align: bottom;
  flex-grow: 1;
  position: relative;
  padding-bottom: 100px;
}

.menu__footer__text {
  min-width: 170px;
  font-size: 12px;
}

.menu__footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #535c69;
  transition: 0.1s;
}

.menu__footer a:hover {
  transition: 0.1s;
}

.menu__footer img{
  margin-right: 14px;
  margin-left: 1px;
}