.reports-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 18px;
}

.reports-title__my-reports {
  display: flex;
  align-items: center;
}

.reports-title__my-reports__text {
  display: flex;
  align-items: center;
}

.reports-title__my-reports__text {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-right: 6px;
}

.reports-title__my-reports__btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  margin-left: 24px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  gap: 6px;
  width: 180px;
  height: 40px;
  background: #00B894;
  border: none;
  border-radius: 1px;
  transition: 0.3s;
  font-family: "Open Sans Regular";
}

.sort {
  position: relative;
  width: 233px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 1px solid #535C6940;
  cursor: pointer;
}

.sort__toggle {
  width: 100%;
  display: flex;
  align-items: center;
}

.sort__toggle img {
  margin-left: 20px;
}

.sort__toggle span{
  margin-left: 20px;
}

.sort__block {
  position: absolute;
  z-index: 2;
  opacity: 1;
  width: 233px;
  text-align: center;
  line-height: 30px;
  right: 5px;
  left: 0px;
  top: 40px;
  padding: 14px 15px;
  transition: 0.3s;
}

.sort__block__element {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: start;
  transition: 0.3s;
}

.sort__block__element img {
  margin-right: 6px;
}

.sort__block__element:not(:last-child) {
  padding-bottom: 18px;
}

.sort__block__element:hover {
  transition: 0.3s;
  color: #929aa4;
}

.sort-element {
  margin-right: 6px;
}

.sort__toggle__time {
  margin-left: 2px !important
}