.dropdown {
    position: relative;
    font-weight: 600;
    font-size: 14px;
}

.dropdown .options {
    border: 1px solid rgba(255, 255, 255, 0.05);
    flex-direction: column;
    background: #17212b;
    border-radius: 8px;
    position: absolute;
    display: none;
    z-index: 99;
    top: 49px;
    right: 0;
}

.dropdown.above .options {
    top: unset;
}

.dropdown.show .options {
    display: flex;
}

.dropdown .option {
    padding: 12px 21px 12px 21px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
}

.dropdown .option:first-child {
    border-radius: 8px 8px 0 0;
}

.dropdown .option:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown .option i {
    width: 20px;
    float: left;
    text-align: center;
    margin-right: 8px;
    font-size: 15px;
    top: 2px;
    position: relative;
}

.dropdown .option.danger, .dropdown .option.danger a {
    color: #EE4343;
}

.dropdown .separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.dropdown.show .option:hover {
    background: rgba(0,0,0,0.1);
}

.dropdown .current {
    padding: 9px 30px 9px 12px;
    cursor: pointer;
    user-select: none;
    display: table;
    position: relative;
    line-height: 18px;
    border: 1px solid #515860;
    border-radius: 8px;
    white-space: nowrap;
}

.dropdown .current:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 12px;
    border: 4px solid transparent;
    border-color: #515860 transparent transparent transparent;
}

.dropdown.show .current:after {
    border-color: transparent transparent #515860 transparent;
    top: 13px;
}

.dropdown .title {
    color: #515860;
    margin-right: 5px;
}
