.body {
  width: 94%;
  margin: 20px auto;
  color: #535C69;
  border-radius: 3px;
  font-family: "Open Sans Medium";
}

.body__back-button {
  width: 100%;
  height: 61px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.body__back-button a {
  text-decoration: none;
  color: #535c69;
}

.body__back-button img {
  margin-left: 16px;
  margin-right: 4px;
}
