.districts {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.districts__title {
    color: white;
    background: #17212b;
    border-radius: 12px;
}

.districts__title h3 {
    padding: 14px 20px 16px;
    font-weight: 600;
    font-size: 22px;
    margin: unset;
    line-height: 34px;
}

.districts__info {
    justify-content: center;
    background: #17212b;
    border-radius: 12px;
    margin-top: 6px;
    display: flex;
    color: #fff;
    padding: 20px;
}