.disc-footer {
    width: 99.5%;
    height: 65px;
    margin-top: 6px;
    padding: 15px 13px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.disc-footer__action {
    display: flex;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}

.disc-footer__action .icon-import_light {
    font-size: 14px;
    margin-right: 10px;
}

.disc-footer__action img {
    padding-right: 6.5px;
}

.variables {
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.variables:hover {
    transition: 0.3s;
    background-color: rgb(236, 235, 235);
}

.disc-footer__action__sort {
    position: absolute;
    opacity: 1;
    z-index: 2;
    width: 233px;
    text-align: center;
    line-height: 30px;
    right: 5px;
    left: 0px;
    top: -160px;
    transition: 0.3s;
}

.disc-footer__submit__button button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #157DCD;
    border-radius: 2px;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    margin-left: 16px;
    transition: 0.3s;
}

.disc-footer__count {
    width: 100%;
    text-align: right;
    font-size: 12px;
    margin-right: 36px;
}

.none {
    opacity: 0;
    display: none;
    transition: 0.3s;
}
