.reports-body__side-block {
    min-width: 287px;
    position: relative;
  }

.reports-body__side-block__status, .reports-body__side-block__table,  .reports-body__side-block__responsible, .reports-body__side-block__assistant {
    min-width: 287px;
    margin-bottom: 12px;
}

.reports-body__side-block__status .side-block__body {
    height: 165px;
}

.reports-body__side-block__table .side-block__body {
    height: 50px;
}

.reports-body__side-block__responsible .side-block__body, .reports-body__side-block__assistant .side-block__body {
    height: 90px;
}

.reports-body__side-block__status {
    top: 215px
}

.reports-body__side-block__table{
    top: 440px;
}

.reports-body__side-block__responsible {
    top: 550px;
}

.reports-body__side-block__assistant {
    top: 700px;
}

.reports-body__side-block__responsible .side-block__body,.reports-body__side-block__assistant .side-block__body {
    align-items: center;
}

.responsible__info,.assistant__info {
    max-width: 127px;
    margin-left: 12px;
}

.responsible__name, .assistant__name {
    font-size: 14px;
}

.responsible__post, .assistant__post {
    font-size: 10px;
    font-family: "Open Sans Bold";
}

.side-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    background-color: #535C69;
}

.side-block__body {
    display: flex;
    width: 100%;
    padding: 19px 12px 16px 12px;
    border-radius:  0 0 4px 4px;
    background-color: #fff;
}

.side-block__body a {
    color: #535C69;
    font-size: 14px;
    margin-left: 6px;
}

.side-block__body img {
    width: 50px;
    height: 50px;
    border: 2px solid #E0E0E0;
    border-radius: 72px;
    object-fit: cover;
}

.side-block__body li {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 19.07px;
}

.side-block__body__values {
    margin-left: 10px;
}

.side-block__star:not(:last-child) {
    margin-right: 4px;
}

.side-block__star {
    cursor: pointer;
}

.side-block__body__rating {
    float: right;
}