.content {
  width: 100%;
  height: 100%;
  display: block;
}

.fileload, .folderload {
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.fileload-modal {
  position: absolute;
  z-index: 300;
  height: 336px;
  width: 740px;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#add_folder {
  top: 50% !important;
}

.fileload-modal__header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 6px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 17px;
  color: #535C69;
}

.fileload-modal__header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.fileload-modal__body {
  height: 260px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  position: relative;
}

.fileload-modal__body label {
  width: 100%;
  height: 100%;
  border: 1px dashed #535C69;
  stroke-dasharray: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.fileload-modal__input__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fileload-modal__input__middle div {
  color: #535C69;
  margin-top: 10px;
}

#fileload-modal__input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.fileload-modal__footer__files, .fileload-modal__footer__submit {

  width: 100%;
  height: 60px;
  background-color: #fff;
  margin-top: 6px;
  border-radius: 4px;
  padding: 10px;

}

.folderload .fileload-modal__footer__files {
  height: 90px;
  display: flex;
  align-items: center;
}

.folderload .fileload-modal__footer__files input {
  height: 60%;
  border: 1px solid #535C69;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  padding-left: 6px;
}

.fileload-modal__footer__files input {
  height: 100%;
  width: 100%;
}

.submit_added_files, .submit_added_folder {
  float: right;
}

.submit_added_files button {
  margin-left: 0 !important;
  width: 260px !important;
  font-size: 14px !important;
}

.submit_added_folder button {
  margin-left: 0 !important;
  width: 152px !important;
  font-size: 14px !important;
}

.black_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #9b9a9a;
  z-index: 0;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}