@media only screen and (max-width: 1740px) {
    .container {
        max-width: unset;
        margin: calc(100px + 24px) 24px 24px;
    }
    .navbar-container {
        max-width: unset;
        margin: 0 24px;
    }
    .grid-block-main .title {
        font-size: 24px;
    }
    .user-boxes {
        grid-template-columns: repeat(5,1fr);
    }
}

@media only screen and (max-width: 1440px) {
    .regions-list__bars .regions-list__bar {
        width: calc(100% / 17 - 8px);
    }
    .navbar-search {
        width: 80%;
    }
    .navbar-menu .item.search {
        width: 40%;
    }
    .navbar-menu .item {
        width: 30%;
    }
    body {
        font-size: 14px;
    }
    .error-block-content {
        width: 380px;
    }
    .error-block-background {
        font-size: 240px;
        top: -15%;
        left: -8%;
    }
    .user-boxes {
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (max-width: 1380px) {
    .indicators-list {
        flex-direction: column;
    }
    .indicators-list .list {
        margin-top: 12px;
    }
    .actions__activity-indicators {
        margin-top: 6px;
    }
    .actions__activity-indicators .indicators-list .list .item {
        height: 34px;
        width: 34px;
        line-height: 34px;
    }
    .actions__activity-indicators .indicators-list .title {
        margin-left: 1px;
    }
    .indicator-description {
        margin-left: unset;
        margin-top: unset;
    }
    .indicator-comparison {
        margin-left: unset;
    }

    .actions__activity-info {
        flex-direction: column;
    }
    .actions__activity-info .status {
        justify-content: space-between;
        margin: 7px 4px 0;
    }
    .actions__activity-content {
        margin-left: unset;
        margin-top: 12px;
    }
    .login-page header {
        font-size: 24px;
    }
    .login-page .login-form input {
        width: 300px;
        height: 50px;
    }
    .login-page form {
        padding: 50px 30px;
    }
    .login-page .logotype img {
        height: 460px;
    }
    .login-page .login-form button {
        height: 50px;
    }
    .grid-block-main .title {
        font-size: 20px;
    }
    .grid-block-main .muted {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1200px) {
    .start__description h3 {
        font-size: 18px;
        margin-bottom: 6px;
        line-height: 24px;
    }
    .start {
        height: 340px;
    }
    .start_centered {
        width: calc(100% - 90px);
    }
    .start__image.start__image_size_s {
        min-width: 100px;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-responsive {
        display: flex;
    }
    .rating__regions {
        padding: 0 0 0 20px;
    }
    .rating__regions ul {
        font-size: 12px;
    }
    .rating__diagram {
        padding: 16px 0 16px 0;
    }
    .regions-list__bars .regions-list__bar {
        width: calc(100% / 17 - 6px);
    }
    .regions-list__bars {
        height: calc(100% - 26px);
    }
    .actions .block-title-box {
        flex-direction: column;
        padding: 0;
        background: unset;
    }
    .actions .block-title-box h3, .actions .block-title-box .dropdowns-list {
        width: 100%;
        box-sizing: border-box;
        background: #17212b;
        border-radius: 12px;
    }
    .actions .block-title-box .dropdowns-list {
        padding: 13px;
        display: flex;
        justify-content: space-between;
        margin-top: 6px;
    }
    .grid-block-main .media .avatar {
        height: 160px;
        width: 160px;
    }
    .grid-block-main .title {
        font-size: 16px;
        margin: 16px 0 10px;
    }
    .user-boxes {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .login-page .logotype, .login-page .login-form {
        width: 100%;
        flex-basis: unset;
    }
    .login-page header {
        font-size: 24px;
    }
    .login-page .login-form input {
        width: 300px;
        height: 50px;
    }
    .login-page form {
        padding: 50px 30px;
    }
    .login-page .logotype img {
        height: 260px;
    }
    .login-grid {
        background-image: url('/assets/images/form-gradient-background.png');
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 0 0.8fr 0.5fr 0;
    }
    .login-page .logotype {
        grid-area: 2 / 2 / 3 / 2;
    }
    .login-page .login-form {
        grid-area: 3 / 2 / 3 / 2;
    }
    .login-grid {
        grid-gap: 25px 0;
    }
}

@media only screen and (max-width: 880px) {
    .block-box.break-title-dropdown {
        flex-direction: column;
        padding: 0;
        background: unset;
    }
    .block-box.break-title-dropdown h3, .break-title-dropdown .dropdown {
        width: 100%;
        box-sizing: border-box;
        background: #17212b;
        border-radius: 12px;
    }
    .block-box.break-title-dropdown .dropdown {
        padding: 13px;
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }
    .block-box .break-title-input {
        flex-direction: column;
        background: unset;
        padding: 0;
    }
    .break-title-input .title-box-input input {
        width: 100%;
    }
    .break-title-input h3, .break-title-input .title-box-input {
        width: 100%;
        box-sizing: border-box;
        background: #17212b;
        border-radius: 12px;
    }
    .break-title-input .title-box-input {
        padding: 13px;
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }
    .container {
        margin: calc(100px + 16px) 16px 16px;
    }
    .navbar-container {
        margin: 0 16px;
    }
    .start {
        flex-direction: column;
        height: 680px;
    }
    .start__welcome {
        margin-bottom: 16px;
        margin-right: unset;
    }
    .navbar-responsive {
        margin: 0 0 16px;
    }
    .districts {
        margin-top: 16px;
    }
    .rating {
        margin-top: 16px;
    }
    .comparison {
        margin-top: 16px;
    }
    .actions {
        margin-top: 16px;
        flex-direction: column;
    }
    .actions__reports, .actions__activity {
        width: 100%;
    }
    .actions__activity {
        margin-top: 16px;
    }
    .districts__info {
        flex-direction: column;
        align-items: center;
    }
    .districts-list {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 22px 0;
        margin-top: 14px;
        margin-bottom: 10px;
    }
    .chechnya-districts {
        width: 100%;
    }
    .rating {
        flex-direction: column-reverse;
    }
    .rating__diagram {
        max-height: 280px;
        padding: 11px 12px 9px 12px;
    }
    .regions-list__bars {
        height: calc(100% - 16px);
    }
    .regions-list__bars .regions-list__bar span {
        bottom: -20px;
    }
    .regions-list__bars .regions-list__bar {
        width: calc(100% / 17 - 4px);
        border-radius: 10px 10px 0 0;
    }
    .regions-list__bars .regions-list__bar:first-child {
        border-radius: 0 10px 0 0;
    }
    .rating__regions {
        margin-top: 6px;
        width: 100%;
        padding: unset;
    }
    .rating__regions ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 20px;
        padding-right: 8px;
    }
    .comparison .block-title-box .dropdown .options {
        margin-top: 12px;
        right: unset;
    }
    .navbar-user .dropdown .options {
        right: -14px;
    }
    .districts-title {
        margin-bottom: 0;
    }
    .grid-block {
        flex-direction: column;
    }
    .grid-block .grid-block-main {
        width: 100%;
    }
    .grid-block .data {
        width: 100%;
        margin-top: 12px;
    }
    .user-boxes {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 768px) {
    .navbar .main-logotype {
        border: unset;
        padding: 0 12px;
        min-width: 10px !important;
    }
    .main-logotype img {
        height: 68px;
        min-width: 54px;
        margin-right: 12px;
    }
    .navbar-user .username {

        display: none;
    }
    .navbar-user {
        border: unset;
        padding: unset;
    }
    .navbar-user .dropdown .options {
        right: -6px;
        min-width: 163px;
    }
    .scrollable-table {
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .smooth-border {
        position: relative;
    }
    .smooth-border:before, .smooth-border:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 26px;
        top: 0;
    }
    .smooth-border:after {
        background: linear-gradient(90deg, rgba(14, 22, 33, 0) 0%, rgb(14, 22, 33) 100%);
        right: 0;
    }
    .user-boxes {
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width: 760px) {
    .responsive-dropdown-map .districts__info {
        flex-direction: column;
        align-items: center;
        padding: 12px 20px;
    }
    .responsive-dropdown-map .dropdown-map {
        width: unset;
    }
    .responsive-dropdown-map .chechnya-map {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .chechnya-districts {
        display: none;
    }
    .districts-collapsible {
        display: block;
    }
    .districts__info {
        padding: 7px 6px;
    }
    .navbar-responsive .item.search {
        margin-bottom: 16px;
        width: 100%;
    }
    .navbar-responsive {
        flex-wrap: wrap-reverse;
    }
    .navbar-responsive .item {
        width: 100%;
        justify-content: space-between;
    }
    .navbar-responsive .item .map, .navbar-responsive .item .documentation {
        margin: unset;
    }
    .actions__info {
        height: 530px;
    }
    .grid-block .data {
        grid-template-columns: unset;
    }
    .error-block-background {
        font-size: 160px;
        top: 5%;
        left: -5%;
    }
    .error-block-content {
        width: 260px;
    }
    .regions-list__bar-gradient .current-district {
        font-size: 11px;
        bottom: 50px;
    }
    .navbar-responsive .item .map, .navbar-responsive .item .documentation {
        flex-basis: unset;
    }
}

@media only screen and (max-width: 420px) {
    .chechnya-map {
        width: 100%;
    }
    .start_centered {
        width: calc(100% - 50px);
    }
    .start__image.start__image_size_s {
        min-width: 50px;
        margin-right: 10px;
    }
    .navbar-responsive .button {
        padding: 10px;
    }
}
