.comparison {
    flex-direction: column;
    margin-top: 24px;
    display: flex;
}

.comparison__info {
    border-radius: 12px;
    font-size: 12px;
    margin-top: 6px;
}

.comparison__info .sub-collapsible .collapse-indicator-button, .comparison__info .sub-collapsible .collapse-indicator-content {
    padding-left: 40px;
}

.comparison__info .sub-collapsible .collapse-indicator-button::before {
    color: rgba(255,255,255,0.2);
    position: absolute;
    font-size: 14px;
    content: "↳";
    left: 18px;
    top: 17px;
}

.comparison__info .collapse-indicator-button {
    border-bottom: 1px solid #2e3740;
    background: #17212b;
    position: relative;
    line-height: 20px;
    transition: 0.3s;
    padding: 18px 40px 18px 18px;
    box-sizing: border-box;
}

.collapse-indicator-button {
    justify-content: space-between;
    position: relative;
    user-select: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    outline: none;
    border: none;
}

.collapse-indicator.muted .collapse-indicator-button {
    cursor: unset;
    user-select: unset;
}

.collapse-indicator.chevron .collapse-indicator-button:after {
    top: calc((100% - 20px) / 2);
    font-family: 'icomoon', serif;
    position: absolute;
    content: "\e90a";
    transition: 0.3s;
    font-size: 6px;
    right: 20px;
}

.collapse-indicator.chevron.active .collapse-indicator-button:after {
    rotate: 180deg;
}

.collapse-indicator .collapse-indicator-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.comparison__info .collapse-indicator:last-child .collapse-indicator-button {
    border: unset;
}

.comparison__info .collapse-indicator:first-child .collapse-indicator-button {
    border-radius: 12px 12px 0 0;
}

.comparison__info .collapse-indicator:last-child .collapse-indicator-button {
    border-radius: 0 0 12px 12px;
}

.comparison__info .collapse-indicator.active:first-child .collapse-indicator-button {
    border-radius: 12px;

}
.comparison__info .collapse-indicator.active:not(:first-child) .collapse-indicator-button {
    border-radius: 0 0 12px 12px;
}

.comparison__info .collapse-indicator.active.previous-open:not(:first-child) .collapse-indicator-button {
    border-radius: 12px;
}

.comparison__info .collapse-indicator.previous-open .collapse-indicator-button {
    border-radius: 12px 12px 0 0;
}

.comparison__info .collapse-indicator.previous-open:last-child .collapse-indicator-button {
    border-radius: 12px;
}

.districts-score {
    margin: 6px 0;
}

.districts-score-table {
    border-spacing: unset;
    margin-top: 6px;
    font-size: 16px;
    width: 100%;
}

.districts-score-table tbody td {
    background: #17212b;
    line-height: 40px;
    height: 50px;
}

.districts-score-table tbody tr:first-child td:first-child {
    border-radius: 12px 0 0 0;
}

.districts-score-table tbody tr:first-child td:last-child {
    border-radius: 0 12px 0 0;
}

.districts-score-table tbody tr:last-child td:last-child {
    border-radius: 0 0 12px 0;
}

.districts-score-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 12px;
}

.districts-score-table thead {
    height: 64px;
    font-size: 14px;
}

.districts-score-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #2e3740;
}

.districts-score-table thead th {
    background: #17212b;
}

.districts-score-table thead th:first-child {
    border-radius: 12px 0 0 12px;
}

.districts-score-table thead th:last-child {
    border-radius: 0 12px 12px 0;
}

.districts-score-table tbody:before {
    content:"@";
    display:block;
    line-height:0;
    text-indent:-99999px;
}

.districts-score-table tbody tr td.separator {
    width: 16px;
    border: unset;
}

.districts-score-table tr th.separator {
    height: 64px;
}
